<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financials</title>
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/financials.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="../static/financials.js"></script>
  </head>
  <body>
    <!-- Navigation-->
    <header>
      <nav id="nav-bar">
        <img src="../static/MONEYM8.png" alt="logo" />
        <ul>
          <li>
            <a href="/dashboard" class="nav-link">Dashboard</a>
          </li>
          <li>
            <a href="/financials" class="nav-link">Financials</a>
          </li>
          <li><a href="/financewatch" class="nav-link">Finance Watch</a></li>
          <li><a href="/analytics" class="nav-link">Analytics</a></li>
          <li><a href="/contact" class="nav-link">Help</a></li>
        </ul>
      </nav>
    </header>
    <div id="container">
      <!-- Expense/Income Form -->
      <form id="form">
        <div id="radio">
          <!-- Radio buttons to toggle between Expense and Income -->
          <input
            type="radio"
            name="entryType"
            id="expense"
            value="expense"
            onchange="toggle()"
          />
          Expense
          <input
            type="radio"
            name="entryType"
            value="income"
            onchange="toggle()"
          />
          Income<br /><br />
        </div>

        <!-- Input fields for date, category, amount, and description -->
        <label for="date" class="required">Date:</label>
        <input type="date" id="date" name="date" required /> <br /><br />
        <label for="category" class="required">Category:</label>
        <select id="category" name="category" required>
          <option value="Earnings">Earnings</option>
          <option value="Transport">Transport</option>
          <option value="Education">Education</option>
          <option value="Hospital">Hospital</option>
          <option value="Utilities">Utilities</option>
        </select>
        <br /><br />
        <label for="amount" class="required">Amount:</label>
        <input
          type="text"
          id="amount"
          name="amount"
          placeholder="KSH"
          required
        /><br /><br />
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br /><br />
        <button type="button" id="addButton" onclick="addEntry()"></button>
      </form>

      <!-- Elements to display total income, total expenses and available balance -->
      <div class="summary">
        <div class="display">
          <i class="fa-solid fa-sack-dollar" style="color: #a98f76"></i> <br />
          <span id="total-income">Total Income: 0</span>
        </div>
        <div class="display">
          <i class="fa-solid fa-money-bill-trend-up" style="color: #a98f76"></i>
          <br />
          <span id="total-expenses">Total Expenses: 0</span>
        </div>
        <div class="display">
          <i class="fa-solid fa-scale-balanced" style="color: #a98f76"></i>
          <br />
          <span id="available-balance">Available Balance: 0</span>
        </div>
      </div>
    </div>

    <!-- Table to display Expense/Income entries -->
    <div class="container">
      <ul id="expenseTable">
        <li class="table-header">
          <!-- Table headers -->
          <div class="col col-1">Date</div>
          <div class="col col-2">Category</div>
          <div class="col col-3">Description</div>
          <div class="col col-4" id="amount">Amount</div>
          <div class="col col-5">Transaction Type</div>
          <div class="col col-6">Modify</div>
        </li>
      </ul>
    </div>
  </body>
</html>
